%header
  .row
    .small-5.medium-8.columns
      %h1
        = image_tag("site/logo.jpg", alt: "Lutheran World Relief")
    .small-7.medium-4.text-right.columns
      .social-media
        = link_to "#", target: "_blank" do
          = image_tag("site/twitter.png", alt: "LWR Twitter")
        = link_to "#", target: "_blank" do
          = image_tag("site/linkedin.png", alt: "LWR Linkedin")
        = link_to "#", target: "_blank" do
          = image_tag("site/facebook.png", alt: "LWR Facebook")
        = link_to "#", target: "_blank" do
          = image_tag("site/instagram.png", alt: "LWR Instagram")
